pais{background-color:cyan; display:block;}
departamento{background-color:mediumaquamarine; display:grid;}
cabecera {background-color:whitesmoke; color: blue; display:grid;}
habitantes{background-color:rgb(183, 230, 241); color: blue; display:grid;}
altura{background-color:whitesmoke; color: blue; display:grid;}